/* styles.css */

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
    /*give the max of the width and shrink appropriately*/
}

/* cover */

#cover {
    /*background: #222 url('bg.jpg') top center no-repeat;*/
    background: #222;
    color: white;
    text-align: left;
    display: flex;
    align-items: right;
}

#writeup {
    background-color: white;
}

#writeup b {
    color:
}

#writeup p {
    padding-bottom: 1.25rem;
}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0; /*rem is a reference to the root html font-size, in this case 16px*5 = 80px*/
}

#conclusions {
    background-color: #212121;
    color: white;
}

#conclusions p {
    padding-bottom: 1.25rem;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background-color: #666;
    color: white;
    font-size: 1.2rem;
    padding: 2.5rem 0;
}